/* Showcase */

#showcase {
  min-height: 525px;
  color: #fff;
}

#showcase #bg-image {
	position: absolute;
  background: #333 url('../img/city.jpeg');
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
	height: 525px;
	z-index: -1;
  filter: brightness(50%);
  /* opacity: 0.35; */
}

#showcase h1 {
  padding-top: 110px;
}

/* Search Bar */

#searchBar {
  background: white;
  color: black;
  /* margin-bottom: 1rem; */
  margin-bottom: 1rem;
  padding: 1rem;
  width: inherit;
}

#searchBar p, #queryBar p {
  padding: 0;
}

/* Query Bar */

#queryBar {
  background: white;
  color: black;
  padding: 1rem;
  width: inherit;
}

/* Purpose */

#purpose {
  background: white;
  color: black;
}

/* DataList*/

#dataList {
  background: blue;
}

#dataList ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#dataList li {
	margin-bottom: 1rem;
	background: #fff;
	color: #333;
}

.card {
  background: white;
  color: black;
  text-align: left;
}

.card-title {
  background: lightgray;
}

.card-title h3, .card-content {
  padding: 1rem;
}

/* Footer */

#footer {
  background: white;
  color: black;
}

#dataList ul {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 1.5rem;
}

#dataList card {
  display: grid;
  justify-content: space-between;
}