/* Global Styles */

h1 {
  font-size: 3rem;
}

h2 {
  /* margin-top: 0;
  margin-bottom: 45px; */
  font-size: 2.75rem;
  /* padding-bottom: 30px; */
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  line-height: 1.7rem;
}

.container,
.container-fluid {
  padding: 25px 0;
  margin: 0 auto;
}

.container.content-wrap {
  padding: 75px 0;
}

.main {
  min-height: 60vh;
}

footer {
  min-height: 20v;
}

.btn {
  background-color: #2196f3;
  padding: 0.4rem 1.2rem 2.8rem;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #1a75c0;
}

form .btn {
  margin-top: 15px;
}

/* Not sure */

.list {
  height: 100%;
}

/* Could be anywhere.... */

.card {
  text-align: left;
  animation: fadein 2s;
}

.card-action .btn {
  width: inherit;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Data Submit */

.dataSubmit h4 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

/* Footer */

footer {
  text-align: center;
  min-height: 15vh;
}

footer img {
  max-height: 100px;
}
