/* Global Styles */

h1 { font-size: 3rem; }
h2 { font-size: 2.75rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2.25rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.5rem; }

p {
  line-height: 1.7rem;
}

.container {
  padding: 75px 0;
  margin: 0 auto;
}

.main {
  min-height: 69vh;
}

.btn {
  background-color: blue;
}

/* Nav */
.active {
  font-weight: bold;
}

.nav{
  padding: 0 5%; 
}

/* Home */

.home {
  text-align: center;
}

.showcase {
  min-height: 525;
	/* color: #fff; */
	text-align: center;
}

.showcase .bg-image {
  position: absolute;
  background: #333 url('../assets/img/city.jpeg');
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 525px;
  /* z-index: -1; */
  filter: brightness(50%);
}

.dataList {
  background: linear-gradient(to bottom right, white, black);
}

.dataList h2 {
  color: white;
}

.card {
  text-align: left;
}

.card-action .btn {
  width: inherit;
}

/* Footer */

footer {
  text-align: center;
}